* {
    font-family: luminari, arial;
}

.header, .instructions, .contenders {
    text-align: center;
}

.header {
    margin-bottom: 0;
}

.rps {
    display: flex;
    flex-direction: column;
}

.rps-choices {
    padding: 0 20vw;
    display: flex;
    justify-content: space-around;
}

.round {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.round h2 {
    margin-top: 0;
}

.ratio {
    display: flex;
    justify-content: center;
}

.icon-background {
    border-radius: 10px;
    border: transparent;
    background-color: white;
    transition: 0.3s;
}

.icon-background:hover {
    background-color: lightgrey;
}

.main-icons {
    width: 20vw;
    max-width: 180px;
}

.rps-selections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

#vs-space {
    display: flex;
    justify-content: center;
    width: 5vw;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection {
    width: 20vw;
    height: 20vw;
    max-width: 180px;
    max-height: 180px;
}

#player-selection, #computer-selection {
    width: 20vw;
    height: 20vw;
    max-width: 180px;
    max-height: 180px;
    border: 2px solid grey;
    border-radius: 10px;
}

.score {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vw;
}

.game-controls {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.bold-button {
    border: 3px solid black;
    border-radius: 4px;
}